@import "../../source/mixin.scss";

.FavoritesContainer {
  max-width: 1200px;
  padding: 120px 0 0;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  @include screen($tablet) {
    padding: 80px 10px;
  }

  .historyBtn{
    position: fixed;
    left: 10px;
    bottom: 30px;
    z-index: 5;
    background-color: #055659;
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    &:hover{
      filter: brightness(1.1);
    }

    .historyIcon{
      fill: white;
      font-size: 26px;
    }


  }


  .okDialogCont{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;

    .backgroundBlock{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    .dialogBlock{
      background-color: white;
      padding: 40px;
      border-radius: 24px;
      max-width: 400px;
      width: 100%;
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: center;

      .header{
        font-size: 26px;
        font-family: 'Raleway', sans-serif;
        color: #055659;
        font-weight: 600;
        text-align: center;
        margin-bottom: 30px;
      }

      .checkIcon{
        fill: #055659;
        font-size: 80px;
        animation: active 0.2s linear;
      }
    }

  }

  .dialogCont{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;

    .backgroundBlock{
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    .dialogBlockFav{
        width: 100%;
      max-width: 400px;
      background-color: white;
      position: relative;
      z-index: 2;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 40px;
      border-radius: 24px;

      .prg{
        font-size: 26px;
        font-family: 'Raleway', sans-serif;
        color: #055659;
        font-weight: 700;
        line-height: 32px;
        text-align: center;
        margin-bottom: 50px;
      }
      .btnsCont{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;

        .cancelBtn{
          min-width: 130px;
          width: 130px;
          padding: 8px;
          border: 1px solid #055659;
          background-color: white;
          color: #055659;
          font-size: 15px;
          font-family: 'Raleway', sans-serif;
          border-radius: 15px;
          cursor: pointer;
          font-weight: 500;
          transition: 0.2s ease-in-out;
          &:hover{
            color: white;
            background-color: #055659;
          }
        }
        .applyBtn{
          min-width: 130px;
          width: 130px;
          padding: 8px;
          border: 1px solid #055659;
          background-color: #055659;
          color: white;
          font-size: 15px;
          font-family: 'Raleway', sans-serif;
          border-radius: 15px;
          cursor: pointer;
          font-weight: 500;
          transition: 0.2s ease-in-out;
          &:hover{
            filter: brightness(1.1);
          }
        }
      }
    }


  }

  .prgCont {
    height: Calc(100vh - 120px);
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    .prg {
      margin-bottom: 100px;
      font-size: 20px;
      font-family: 'Raleway', sans-serif;
      color: #5f5f5f;
      line-height: 32px;
      text-align: center;
    }
  }

  .itemImg {
    height: 50px;
  }

  .table {
    width: 100%;
    background-color: #e3e3e3;
    max-width: 100%;
    @include screen($tablet) {
      width: 98%;
      margin: 0 auto;
    }

    .numberTH{
      max-width: 30px;
      width: 30px;
    }

    .firstTH {
      width: 100px;
      @include screen($tablet) {
        width: 70px;
      }
    }

    tr {
      width: 100%;
    }

    th {
      background-color: white;
      padding: 8px;
      font-size: 15px;
      font-family: sans-serif;
      font-weight: 600;
      @include screen($tablet) {
        padding: 6px;
        font-size: 12px;
      }
    }

    td {
      background-color: white;
      text-align: center;
      padding: 3px;
      font-size: 12px;
      font-family: sans-serif;
      font-weight: 500;
      @include screen($tablet) {
        font-size: 13px;
      }
    }

    .endLine {
      td {
        padding: 10px;
      }
    }

    .inputTD {
      padding: 0 !important;
      max-width: 60px;

      .peacesInput {
        padding: 16px;
        width: 100%;
        text-align: center;
        font-size: 15px;
        line-height: 20px;
        border: none;
        outline: none;
        min-width: 60px;
        @include screen($tablet){
          font-size: 12px;
        }

      }

    }
    .removeTD{
      max-width: 60px;
      width: 60px;
      .removeBtn{
        padding: 20px 0;
        width: 100%;
        cursor: pointer;
        height: 100%;
        background-color: transparent;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        .removeIcon{
          font-size: 24px;
          color: #055659;
        }
      }
    }
  }

  .buttonsCont {
    width: 90%;
    display: flex;
    justify-content: end;
    margin: 0 auto 200px;
    gap: 12px;

    .clearBtn{
      background-color: #055659 !important;
      color: white !important;
      transition: 0.2s ease-in-out;
      &:hover{
        filter: brightness(1.1);
      }
    }

    .loadingIcon{
      animation: spin 1s linear infinite;
      font-size: 20px;
      stroke: #055659;
    }

    .sendBtn {
      min-width: 150px;
      padding: 8px 20px;
      border-radius: 32px;
      border: 1px solid #055659;
      background-color: transparent;
      color: #055659;
      font-family: 'Raleway', sans-serif;
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
      cursor: pointer;
      margin-top: 20px;
      transition: 0.2s ease-in-out;

      &:disabled{
        opacity: 0.3;
        cursor: none;
      }

      &:hover {
        background-color: #055659;
        color: white;
      }
    }

  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
  }


}

@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes active {
  0%{
    scale: 0.1;
  }
  95%{
    scale: 1.1;
  }
  100%{
    scale: 1;
  }
}

