@import "../../source/mixin.scss";
.NavBarContainer{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  border-radius: 0 0 32px 32px;
  cursor: pointer;
  transition: 0.2s;
  background: #055659;
  z-index: 10;
  @include screen($tablet-l){
    height: 60px;
  }
  @include screen($mobile-l){
    border-radius: 0 0 24px 24px;
  }



  .cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    max-width: 1200px;
    margin: 0 auto;
    @include screen($mobile-l){
      padding: 0 24px;
    }
  }


  .rightLinks{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: -15px;
    @include screen($tablet){
      margin-top: -5px;
    }

    .loginBtn{
      padding: 8px;
      font-size: 16px;
      color: white;
      font-family: 'Raleway', sans-serif;
      border: none;
      outline: none;
      background-color: transparent;
      font-weight: 500;
      cursor: pointer;
    }


    .accountLogo{
      display: flex;
      align-items: center;
      gap: 6px;
      .username{
        font-size: 16px;
        font-weight: 600;
        color: white;
        font-family: 'Raleway', sans-serif;
        @include screen($tablet){
          display: none;
        }
      }

      .userIcon{
        font-size: 24px;
        fill: white;

        @include screen($tablet){
          display: block;
        }
      }
    }

    .exitBtn{
      cursor: pointer;
      background-color: transparent;
      border: none;
      outline: none;
      padding: 4px 8px;
      margin-top: 5px;
      display: flex;
      align-items: center;
      gap: 6px;
      .exitIcon{
        fill: white;
        font-size: 26px;
      }
      .exitText{
        font-size: 16px;
        font-weight: 600;
        color: white;
        font-family: 'Raleway', sans-serif;
        @include screen($tablet){
          display: none;
        }
      }
    }

  }
  .phoneLink{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: 0.2s ease-in-out;
    @include screen($mobile-l){
      font-size: 15px;
      margin-top: 0;
    }

    &:hover{
      color: #f8cd46;

      .icon{
        transition: 0.2s ease-in-out;
        fill: #f8cd46;
      }
    }

    span{
      @include screen($tablet){
        display: none;
      }
    }

    .icon{
      font-size: 28px;

    }
  }



  .homeLink{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    height: 100%;
    margin-top: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    .iconImg{
      width: 80px;
      @include screen($tablet-l){
        width: 60px;
      }
      @include screen($mobile-l){
        width: 40px;
      }
    }
    .iconText{
      width: 120px;
      margin-top: -20px;
      @include screen($tablet-l){
        width: 100px;
      }
      @include screen($mobile-l){
        width: 80px;
        margin-top: -10px;
      }

    }
  }

  .phoneLink{

  }

}